body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


select:focus {
    border-bottom-color: #007bff;
}

form.parent {
    width: 350px;
  
}

fieldset {
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #444;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.leg, h2 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.pass-group {
    margin-bottom: 20px;
    display: flex;
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fafafa;
    
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    font-size: 15px;
    transition: 0.3s ease;
}
.cont1{
    display: flex;
    justify-content: space-between;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-bottom-color: #007bff;
}

input {
    outline: none;
    position: relative;
    font-size: 15px;
}

span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
}

button {
    padding: 10px 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    outline: none;
}

button:hover {
    background: #0056c7;
}

#showPass {
    margin-left: 10px;
    cursor: pointer;
}
p{
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
    margin: 0 0 10px 15px;
}

    input[type="date"] {
        width:100% ;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #333;
        background: transparent;
        font-size: 15px;
        outline: none;
        transition: 0.3s ease;
    }
    
    input[type="date"]:focus {
        border-bottom-color: #007bff;
    }
    
    select {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #333;
        background: transparent;
        font-size: 15px;
        outline: none;
        cursor: pointer;
        transition: 0.3s ease;
    }
    